body{
    text-align: center;
    background-color: blueviolet;

}

#app{
    background-color:chartreuse;
}

#game{
    background-color:rgb(255, 162, 0);
}

#chatbot{
    background-color:rgb(255, 0, 119);
}